Repository wyattjoh/next-dev-utils: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, check

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

# Pre-commit hook - runs before each commit
pre-commit:
  parallel: true
  commands:
    format:
      run: deno fmt
      glob: "*.{ts,json,md,yml}"
      stage_fixed: true
    lint:
      run: deno lint
      glob: "*.ts"
    check:
      run: deno check
      glob: "*.ts"

chore: updated linter and fmt configuration
  CHANGELOG.md
  deno.json
  mod.ts
Due: format, lint, check

docs: added CLAUDE.md and updated README.md
  CLAUDE.md
  README.md
  deno.json
Due: format

ci: fixed CI workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: format

chore: added node_modules to .gitignore
  .gitignore
Due: none

refactor: replace class-based config with standalone functions and JSON file storage
  deno.json
  src/lib/config/config.ts
Due: format, lint, check

chore: prepare for v2.0.1 release
  .github/workflows/release.yml
  CHANGELOG.md
  deno.json
  deno.lock
  mod.ts
  src/commands/debug.ts
  src/lib/cleanup.ts
  src/lib/index.ts
  src/lib/pack-next.ts
  src/lib/pack.ts
Due: format, lint, check

refactor: update configuration and module structure
  CHANGELOG.md
  deno.json
  deno.lock
  lefthook.yml
  src/commands/debug.ts
  src/lib/cleanup.ts
  src/lib/client.ts
  src/lib/config/config.ts
  src/lib/index.ts
  src/lib/pack-next.ts
  src/lib/pack.ts
Due: format, lint, check

chore: upgraded deps
  deno.json
  deno.lock
  scripts/install.sh
  src/lib/client.ts
Due: format, lint, check

docs: removed unused part of installation script
  scripts/install.sh
Due: none

docs: updated module documentation
  deno.json
  src/lib/index.ts
Due: format, lint, check

fix: fixed installation script
  scripts/install.sh
Due: none

fix: fixed crypto bug
  deno.json
  src/cli.ts
  src/commands/pack-next.ts
  src/lib/config/config.ts
  src/lib/pack.ts
Due: format, lint, check

fix: improved installation script
  scripts/install.sh
Due: none

fix: fixed installation script again
  scripts/install.sh
Due: none

fix: removed unused dep
  deno.json
  deno.lock
Due: format

build: migrate from lefthook to deno task hooks and update release process
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .gitignore
  README.md
  deno.json
  deno.lock
  lefthook.yml
  scripts/install.sh
  src/cli.ts
Due: format, lint, check

feat(config): add 1Password integration for secure credential storage
  src/cli.ts
  src/commands/config.ts
  src/lib/config/config.ts
Due: format, lint, check

feat: add test-all-deploy command for GitHub workflow dispatch
  deno.json
  src/cli.ts
  src/commands/test-all-deploy.ts
  src/lib/pack-next.ts
  src/lib/pack.ts
Due: format, lint, check

feat: improve git worktree handling and update schema URL
  deno.json
  src/lib/get-next-project-path.ts
Due: format, lint, check

feat: add --hashed flag and multi-file test-deploy support
  src/cli.ts
  src/commands/config.ts
  src/commands/create-reproduction.ts
  src/commands/debug.ts
  src/commands/pack-next.ts
  src/commands/pack.ts
  src/commands/test-all-deploy.ts
  src/commands/test-deploy.ts
  src/lib/cleanup.ts
  src/lib/commands/create-command.ts
  src/lib/config/config.ts
  src/lib/get-next-project-path.ts
  src/lib/logger.ts
  src/lib/pack-next.ts
  src/lib/pack.ts
Due: format, lint, check

chore: release v2.4.0
  .claude/commands/release.md
  CHANGELOG.md
  deno.json
  src/cli.ts
  src/commands/pack-next.ts
  src/commands/pack.ts
  src/commands/test-all-deploy.ts
  src/commands/test-deploy.ts
  src/lib/config/config.ts
  src/lib/get-next-project-path.ts
  src/lib/logger.ts
  src/lib/pack-next.ts
  src/lib/pack.ts
Due: format, lint, check

feat: track upload status and pre-resolve 1Password secrets
  .zed/settings.json
  deno.json
  src/commands/pack.ts
  src/lib/pack-next.ts
  src/lib/pack.ts
Due: format, lint, check
